* {
    estouro : nenhum;
    preenchimento :  0 ;
    margem :  0 ;
}
. cabeceta {
    margem :  -10 px ;
    borda :  3 px pontilhada de preto;
    preenchimento :  -10 px  -10 px ;
    text-shadow :  2 px  2 px  10 px ;
    imagem de fundo :  url ( "https://static-cse.canva.com/blob/560659/texture.jpg" );
    cor : aliceblue;
    estilo da fonte : herdar;
    font-family :  'Arial Narrow Bold' , sem serifa;
    tamanho da fonte :  40 px ;
    altura :  300 px ;
    estouro : nenhum;
}
. jorge {
    cor : bisque;
    font-family : 'Segoe UI' , Tahoma , Geneva , Verdana , sans-serif;
    tamanho da fonte :  20 px ;
    margem :  -30 px ;
}
. botao1 {
    posição : relativa;
    superior :  -250 px ;
    direita :  -1200 px ;
}
. um {
    altura :  40px ; _
    cor de fundo : preto;
    cor :  #fff ; _
    raio da borda :  15 px ;
    cursor : ponteiro;
}
corpo {
    cor de fundo : prata;
}
. beijo {
    alinhamento de texto : centro;
}
. centro {
    cor de fundo :  # fff ;
    margem esquerda :  20 px ;
    margem direita :  20 px ;
}
. centro {
    tamanho da caixa : caixa de borda;
    Preenchimento :  50 px
}
. centro {
    text-align : justificar;
}
. a : hover { background-color :  # 3e8e41
}
. centro : hover { background-color : darkgrey;

}
. a : ativo {
  cor de fundo :  # 3e8e41 ;
  box-shadow :  0  5 px  # 666 ;
  transformar :  traduzirY ( 4 px );
}
. centro {
    alinhamento de texto : direito;
}
. centro1 {
    cor de fundo :  # fff ;
    margem esquerda :  20 px ;
    margem direita :  20 px ;
}
. centro1 {
    tamanho da caixa : caixa de borda;
    preenchimento :  50 px }
. centro1 : hover { background-color : darkgrey;}
. centro2 {
    cor de fundo :  # fff ;
    margem esquerda :  20 px ;
    margem direita :  20 px ;
}
. centro2 {
    tamanho da caixa : caixa de borda;
    preenchimento :  50 px }
. centro2 : hover { background-color : darkgrey;}
. centro3 {
    cor de fundo :  # fff ;
    margem esquerda :  20 px ;
    margem direita :  20 px ;
}
. centro3 {
    tamanho da caixa : caixa de borda;
    preenchimento :  50 px }
. centro3 : hover { background-color : darkgrey;}
. centro4 {
    cor de fundo :  # fff ;
    margem esquerda :  20 px ;
    margem direita :  20 px ;
}
. centro4 {
    tamanho da caixa : caixa de borda;
    preenchimento :  50 px }
. centro4 : hover { background-color : darkgrey;}
